<p id="notice"><%= notice %></p>

<p>
  <strong>Sport:</strong>
  <%= @game.sport %>
</p>

<p>
  <strong>Location:</strong>
  <%= @game.location %>
</p>

<p>
  <strong>Start:</strong>
  <%= @game.start %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
